*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#ffffff;
    color:#111;
    line-height:1.6;
}

/* HEADER */

header{
    background:#000;
    color:white;
    padding:50px 20px;
    text-align:center;
    border-bottom:1px solid #222;
}

.header-content{
    max-width:900px;
    margin:auto;
}

.logo{
    width:160px;
    margin-bottom:25px;
    border-radius:25px;
    box-shadow:0 0 30px rgba(255,255,255,0.1);
    transition:0.4s;
}

.logo:hover{
    transform:scale(1.05);
}

header h1{
    font-size:58px;
    letter-spacing:4px;
    margin-bottom:10px;
}

header p{
    color:#999;
    font-size:18px;
}

/* NAV */

nav{
    background:#0a0a0a;
    padding:18px;
    text-align:center;
    position:sticky;
    top:0;
    z-index:1000;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 20px;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#777;
}

/* HERO */

.hero{
    position:relative;
    height:85vh;

    background:
    linear-gradient(rgba(0,0,0,0.8),
    rgba(0,0,0,0.8)),
    url('assets/ELI_Square.png');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero-content{
    position:relative;
    z-index:2;
    max-width:900px;
    padding:20px;
    color:white;
}

.hero h2{
    font-size:70px;
    margin-bottom:25px;
}

.hero p{
    font-size:22px;
    color:#ccc;
}

/* BUTTON */

button{
    margin-top:30px;
    background:white;
    color:black;
    border:none;
    padding:16px 32px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#ccc;
    transform:translateY(-2px);
}

/* SECTIONS */

section{
    padding:100px 20px;
}

.container{
    max-width:1100px;
    margin:auto;
}

section h2{
    text-align:center;
    font-size:42px;
    margin-bottom:40px;
}

/* CARDS */

.cards{
    display:flex;
    gap:25px;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:260px;
    background:#111;
    color:white;
    padding:40px;
    border-radius:15px;
    transition:0.4s;
    border:1px solid #222;
}

.card:hover{
    transform:translateY(-10px);
    background:#1a1a1a;
}

/* FORM */

form{
    max-width:650px;
    margin:auto;

    display:flex;
    flex-direction:column;
    gap:20px;
}

input,
textarea{
    padding:16px;
    border:1px solid #ddd;
    background:#f8f8f8;
    border-radius:8px;
    font-size:16px;
}

textarea{
    min-height:160px;
}

/* FOOTER */

footer{
    background:black;
    color:#888;
    text-align:center;
    padding:40px;
    border-top:1px solid #222;
}

/* RESPONSIVE */

@media(max-width:768px){

    .hero h2{
        font-size:42px;
    }

    header h1{
        font-size:40px;
    }

    .cards{
        flex-direction:column;
    }

}
